* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #08080F;
  color: #F0F0F8;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px 20px;
}

.logo {
  width: 40px;
}

main {
  max-width: 700px;
  margin: 40px auto;
}
